<%= form_tag({ :action => 'update', :id => edit.id }, { :remote => true, :method => :patch }) do %>

<%= hidden_field 'form', 'referenceId', :value => edit.get_extra(:reference).id if not edit.get_extra(:reference).nil? %>
<%= hidden_field 'form', 'parentId', :value => parentId if defined? parentId %>
<%= hidden_field 'form', 'topName', :value => topName if defined? topName %>

<table>
<tr><td>Rubrik</td><td><%= text_field "edited", "title" %></td></tr>
<tr><td>Kommentar</td><td><%= text_field "edited", "note" %></td></tr>
</table>

<input type="submit" value="Save">
<% end %>
