<% name = showp[:object].object_name %>

<% if options[:enclosedById] %>
<span id="<%= name %>">
<% end %>

<p>
<%=
  if defined?  showFull and showFull
    showp[:object].long_name
  else
    link_to showp[:object].long_name, :controller => showp[:object].controller, :action => 'show', :id => showp[:object].id
  end
%>
<%= showp[:object].sex %>

<%=
  if options[:showModifier]
    mod_options = options.merge({ :showAddEvent => true,
                                  :showAddNote => true,
                                  :showAddDate => false,
                                  :showAddAddress => true })
    mod_options[:relation] = showp[:relation] if showp[:relation] != nil
    render :partial => 'application/modifier', :object => showp, :locals => { :options => mod_options }
  end
%>
<br />
</p>

<% if options[:showFull] %>
	
    <%= render :partial => "references/related", :object => showp, :locals => { } %>

    <h3>Övrigt</h3>
    <p>
    <%= link_to "Antavla", :action => "ancestry",
                           :id => showp[:object].id,
                           :controller => showp[:object].controller %>
    </p>
		
  <% end %>
		
<% if options[:enclosedById] %>
</span>
<% end %>
