<% name = show[:object].object_name %>
<% children = show[:object].find_children %>
<% parents = show[:object].find_parents %>
<% relationships = show[:object].find_spouses %>

<% if enclosedById %>
<span id="<%= name %>">
<% end %>

<p>
<%=
  if defined?  showFull and showFull
    show[:object].long_name
  else
    link_to show[:object].long_name, :controller => show[:object].controller, :action => 'display', :id => show[:object].id
  end
%>
<%= show[:object].sex %>

<%=
  if showModifier
    locals = {
      :showAddEvent => true,
      :showAddNote => true,
      :showAddDate => false,
      :showAddAddress => true
    }
    locals[:parent] = parent if defined? parent
    locals[:relation] = show[:relation] if show[:relation] != nil
    render :partial => 'application/modifier', :object => show, :locals => locals
  end
%>
    <br />
    </p>

  <% if defined? showFull and showFull %>
	
	<%= render :partial => "references/related", :object => show, :locals => { } %>

    <h3>Föräldrar</h3>
    <p>
    <% for parent in parents %>
    <%= link_to parent.short_name, :action => "display", :id => parent.id %>
    <br />
    <% end %>
    </p>

    <h3>Förhållanden</h3>
    <p>
    <% for relationship in relationships %>
    <%= relationship[:name] %>
    <% for member in relationship[:members] %>
    <%= link_to member.short_name, :action => "display", :id => member.id %>
    <% end %>
    <br />
    <% end %>
    </p>

    <h3>Barn</h3>
    <p>
    <% for child in children %>
    <%= link_to child.short_name, :action => "display", :id => child.id %>
    <br />
    <% end %>
    </p>

    <h3>Övrigt</h3>
    <p>
    <%= link_to "Antavla", :action => "ancestry",
                           :id => show[:object].id %>
    </p>
		
		<% end %>
		
<% if enclosedById %>
</span>
<% end %>
