<% name = showp.object_name %>

<% if options[:enclosedById] %>
<span id="<%= name %>">
<% end %>

<p>
<%=
  if defined?  showFull and showFull
    showp.long_name
  else
    link_to showp.long_name, :controller => showp.controller, :action => 'show', :id => showp.id
  end
%>
<%= showp.sex %>
<% if not showp.get_extra(:reference).nil? %>
<%   if not showp.get_extra(:reference).name.nil? %>
<%=    showp.get_extra(:reference).name %>
<%   end %>
<% end %>

<%=
  if options[:showModifier]
    mod_options = options.merge({ :showAddEvent => true,
                                  :showAddNote => true,
                                  :showAddDate => false,
                                  :showAddAddress => true,
                                  :showAddRelationship => true })
    mod_options[:relation] = showp.get_extra(:relation) if showp.get_extra(:relation) != nil
    render :partial => 'application/modifier', :object => showp, :locals => { :options => mod_options }
  end
%>
<br />
</p>

<% if options[:showFull] %>
	
    <%= render :partial => "references/related", :object => showp, :locals => { :options => { :topName => options[:topName] } } %>

    <h3>Övrigt</h3>
    <p>
    <%= link_to "Antavla", :action => "ancestry",
                           :id => showp.id,
                           :controller => showp.controller %>
    </p>
		
  <% end %>
		
<% if options[:enclosedById] %>
</span>
<% end %>
