<% related_objects = showp[:object].related_objects %>
<% if enclosedById %>
  <span id="<%= showp[:object].object_name %>">
<% end %>

<span class="event">
<%=
  if defined?  showFull and showFull
    showp[:object].object_name
  else
    link_to showp[:object].object_name, :controller => showp[:object].controller, :action => 'show', :id => showp[:object].id
  end
%>

<%=
  if showModifier
	  locals = {
	    :showAddNote => true,
	    :showAddDate => true,
	    :showAddAddress => true
	  }
	  locals[:parent] = parent if defined? parent
    render :partial => 'application/modifier', :object => showp, :locals => locals
  end
%>
		<br />
	</span>
        
        <ul>
	<%= render :partial => 'people/showp',
		:collection => related_objects[:people],
                :layout => 'li',
		:locals => { :enclosedById => true, :showModifier => showModifier, :parent => showp } %>
	<%= render :partial => 'event_dates/showp',
		:collection => related_objects[:event_dates],
                :layout => 'li',
		:locals => { :enclosedById => true, :showModifier => showModifier, :parent => showp } %>
	<%= render :partial => 'addresses/showp',
		:collection => related_objects[:addresses],
                :layout => 'li',
		:locals => { :enclosedById => true, :showModifier => showModifier, :parent => showp } %>
	<%= render :partial => 'notes/showp',
		:collection => related_objects[:notes],
                :layout => 'li',
		:locals => { :enclosedById => true, :showModifier => showModifier, :parent => showp } %>
        </ul>

  <% if defined? showFull and showFull %>
	
	<%= render :partial => "references/related", :object => showp, :locals => { } %>

  <% end %>

<% if enclosedById %>
</span>
<% end %>