<% related_objects = showp[:object].related_objects %>
<% if options[:enclosedById] %>
  <span id="<%= showp[:object].object_name %>">
<% end %>

<%=
  if options[:showFull]
    showp[:object].object_name
  else
    link_to showp[:object].object_name, :controller => showp[:object].controller, :action => 'show', :id => showp[:object].id
  end
%>

<%=
  if options[:showModifier]
	  mod_options = options.merge({ :showAddNote => true,
	                                :showAddDate => true,
	                                :showAddAddress => true })
    render :partial => 'application/modifier', :object => showp, :locals => { :options => mod_options }
  end
%>
		<br />
        
        <ul>
        <% new_options = options.merge({ :enclosedById => true,
                                         :parent => showp }) %>
	<%= render :partial => 'people/showp',
		:collection => related_objects[:people],
                :layout => 'li',
		:locals => { :options => new_options } %>
	<%= render :partial => 'event_dates/showp',
		:collection => related_objects[:event_dates],
                :layout => 'li',
		:locals => { :options => new_options } %>
	<%= render :partial => 'addresses/showp',
		:collection => related_objects[:addresses],
                :layout => 'li',
		:locals => { :options => new_options } %>
	<%= render :partial => 'notes/showp',
		:collection => related_objects[:notes],
                :layout => 'li',
		:locals => { :options => new_options } %>
        </ul>

  <% if options[:showFull] %>
	
	<%= render :partial => "references/related", :object => showp, :locals => { } %>

  <% end %>

<% if options[:enclosedById] %>
</span>
<% end %>