<% related_objects = show[:object].related_objects %>
<% if enclosedById %>
<span id="<%= show[:object].object_name %>">
<% end %>

	<span class="event">
		<%= show[:object].name %>
<%=
  if showModifier
	  locals = {
	    :showAddNote => true,
	    :showAddDate => true,
	    :showAddAddress => true
	  }
	  locals[:parent] = parent if defined? parent
    render :partial => 'application/modifier', :object => show, :locals => locals
  end
%>
		<br />
	</span>

	<%= render :partial => 'event_dates/show',
		:collection => related_objects[:event_dates],
		:locals => { :enclosedById => true, :showModifier => showModifier, :parent => show } %>
	<%= render :partial => 'addresses/show',
		:collection => related_objects[:addresses],
		:locals => { :obj_class => 'event_address', :enclosedById => true, :showModifier => showModifier, :parent => show } %>
	<%= render :partial => 'notes/show',
		:collection => related_objects[:notes],
		:locals => { :enclosedById => true, :showModifier => showModifier, :parent => show } %>

<% if enclosedById %>
</span>
<% end %>