<% args = [form] %>
<% args.append(options) if defined?(options) %>
<%= form_for(*args) do |f| %>
<%=   application_make_hidden_fields(hidden_fields) if defined?(hidden_fields) %>
<table>
<tr>
<td><%= f.label :date, "Datum" %></td>
<td><%= f.text_field :date, value: form.get_date %></td>
</tr>
<%    reference = form.get_extra(:reference)
      if not reference.nil? %>
<%=     fields_for :reference, reference do |reference_fields| %>
<tr>
<td><%=       reference_fields.label :name, "Roll" %></td>
<td><%=       reference_fields.text_field :name %></td>
</tr>
</table>
<br />
<%      end %>
<%    end %>
<%=   f.submit "Spara" %>
<%  end %>
