<%= form_tag({ :action => "createp" }, { :remote => true } ) do %>

<%= hidden_field 'form', 'parentId', :value => parentId if defined? parentId %>
<%= hidden_field 'form', 'parentReferenceId', :value => parentReferenceId if defined? parentReferenceId %>
<%= hidden_field 'form', 'grandParentId', :value => grandParentId if defined? grandParentId %>

<table>
<tr><td>Datum</td><td><%= text_field("event_date", "date") %></td></tr>
</table>

<input type="submit" value="Save">
<% end %>
