<%= form_tag({ :action => "update", :id => edit[:object].id }, { :remote => true }) do %>

<%= hidden_field 'form', 'referenceId', :value => edit[:referenceId] if defined? edit[:referenceId] %>
<%= hidden_field 'form', 'parentId', :value => parentId if defined? parentId %>

<table>
<tr><td>Gata</td><td><%= text_field "edited", "street" %></td></tr>
<tr><td>Postort</td><td><%= text_field "edited", "town" %></td></tr>
<tr><td>Postnummer</td><td><%= text_field "edited", "zipcode" %></td></tr>
<tr><td>Församling</td><td><%= text_field "edited", "parish" %></td></tr>
<tr><td>Land</td><td><%= text_field "edited", "country" %></td></tr>
</table>

<input type="submit" value="Save">
<% end %>
