<%= form_tag({ :action => "create" }, { :remote => true } ) do %>

<%= hidden_field 'form', 'parentId', :value => parentId if defined? parentId %>
<%= hidden_field 'form', 'parentReferenceId', :value => parentReferenceId if defined? parentReferenceId %>
<%= hidden_field 'form', 'grandParentId', :value => grandParentId if defined? grandParentId %>

Adress:
<table>
<tr><td>Gata</td><td><%= text_field "address", "street" %></td></tr>
<tr><td>Postort</td><td><%= text_field "address", "town" %></td></tr>
<tr><td>Postnummer</td><td><%= text_field "address", "zipcode" %></td></tr>
<tr><td>Församling</td><td><%= text_field "address", "parish" %></td></tr>
<tr><td>Land</td><td><%= text_field "address", "country" %></td></tr>
</table>

<input type="submit" value="Save">
<% end %>
