<% object = showp[:object] %>

<% if enclosedById %>
<span id="<%= object.object_name %>">
<% end %>

<% if defined? showFull and showFull %>
<%= object.one_line %>
<% else %>
<%= link_to object.one_line, :controller => object.controller, :action => 'show', :id => object.id %>
<% end %>

<%=
  if showModifier
    locals = { }
    locals[:parent] = parent if defined? parent
    render :partial => 'application/modifier', :object => showp, :locals => locals
  end
%>

  <br />

  <% if defined? showFull and showFull %>
	
	<%= render :partial => "references/related", :object => showp, :locals => { } %>

  <% end %>

<% if enclosedById %>
</span>
<% end %>
