<% updateListName = connchooseform.object_name + '_list' %>

<%= form_tag({ :controller => 'references', :action => "connection_list" }, { :remote => true, :id => 'yes' }) do %>

<%= hidden_field 'form', 'updateListName', :value => updateListName %>

<%=
  if not options[:showFull].nil?
    hidden_field 'form', 'showFull', :value => options[:showFull]
  end
%>

<table>
<%= text_field 'filter', 'filter', :data => { :submitform => "yes" } %><br/>
</table>

<% end %>

<%= form_tag({ :controller => 'references', :action => "connection_add" }, { :remote => true, :id => 'yes' }) do %>
  <%= hidden_field 'form', 'x', :value => 0 %>
  <%= hidden_field 'form', 'y', :value => 0 %>
  <%= hidden_field 'form', 'w', :value => 0 %>
  <%= hidden_field 'form', 'h', :value => 0 %>
  <%= hidden_field 'form', 'connect1Id', :value => connchooseform.object_name %>
  <%=
    if not options[:showFull].nil?
      hidden_field 'form', 'showFull', :value => options[:showFull]
    end
  %>

  <div id="<%= updateListName %>"></div>
	
<% end %>
