<% related_objs = related[:object].related_objects %>

<h3>Personer</h3>
<%= render :partial => "people/showp", :collection => related_objs[:people], :locals => { :enclosedById => true, :showModifier => true, :parent => related } %>

<h3>Händelser</h3>
<%= render :partial => "events/showp", :collection => related_objs[:events], :locals => { :enclosedById => true, :showModifier => true, :parent => related } %>

<% for type in related_objs[:unhandled_types] %>
  <%= "Warning: unhandled type " %>
  <%= type %>
  <%= "<br />" %>
<% end %>

<h3>Adresser</h3>
<%= render :partial => "addresses/showp",
  :collection => related_objs[:addresses],
  :locals => { :enclosedById => true, :showModifier => true, :parent => related } %>

<h3>Kommentarer</h3>
<%= render :partial => "notes/showp", :collection => related_objs[:notes], :locals => { :enclosedById => true, :showModifier => true, :parent => related } %>

<h3>Media</h3>
<%= render :partial => "media/showp", :collection => related_objs[:media], :locals => { :enclosedById => true, :showModifier => true, :parent => related } %>
