<h1>Transferred file: <%= @transfer_obj.file_name %></h1>
<table>
  <tr><td>File name:</td><td><%= @transfer_obj.file_name %></td></tr>
  <tr><td>File type:</td><td><%= @transfer_obj.content_type %></td></tr>
  <tr><td>Created at:</td><td><%= @transfer_obj.created_at %></td></tr>
</table>

<%= link_to 'Import this file', controller: :imports, action: :new, transfer_id: @transfer_obj.id %>
