<%
  name = modifier.object_name
  menuId = name + "_menu"
  newId = name + "_new"

  common_options = {}
  common_options[:topName] = options[:topName]
  common_options[:topName] ||= "Undefined in modifier for #{name}"
%>

	<input type="text" name="test" value="+" class="selector" readonly="readonly" />
	<ul class="list">

<% if options[:showAddEvent] %>
<li>
<%= showNewId = true
    ae_options = common_options.merge({ :controller       => "events",
                                        :action           => "newp",
                                        :parentName       => name,
                                        :newElem          => newId,
                                        :hideElem         => menuId})
    link_to "lägg till händelse", ae_options, { :remote => true }
%>
</li>
<% end %>

<% if options[:showAddNote] %>
<li>
<%=
    showNewId = true
    an_options = common_options.merge({ :controller       => "notes",
                                        :action           => "newp",
                                        :parentName       => name,
                                        :newElem          => newId,
                                        :hideElem         => menuId })
    link_to "kommentera", an_options, { remote: true, format: :js }
%>
</li>
<% end %>

<% if options[:showAddDate] %>
<li>
<%=
    showNewId = true
    ad_options = common_options.merge({ :controller       => "event_dates",
                                        :action           => "newp",
                                        :parentName       => name,
                                        :newElem          => newId,
                                        :hideElem         => menuId })
    link_to "lägg till datum", ad_options, { :remote => true }
%>
</li>
<% end %>

<% if options[:showAddAddress] %>
<li>
<%=
    showNewId = true
    aa_options = common_options.merge({ :controller       => "addresses",
                                        :action           => "newp",
                                        :parentName       => name,
                                        :newElem          => newId,
                                        :hideElem         => menuId })
    link_to "lägg till adress", aa_options, { :remote => true }
%>
</li>
<% end %>

<% if options[:showAddRelationship] %>
<li>
<%=
    showNewId = true
    ar_options = common_options.merge({ :controller       => "relationships",
                                        :action           => "newp",
                                        :parentName       => name,
                                        :newElem          => newId,
                                        :hideElem         => menuId })
    link_to "lägg till förhållande", ar_options, { :remote => true }
%>
</li>
<% end %>

<% if options[:showAddPerson] %>
<li>
<%=
    showNewId = true
    ap_options = common_options.merge({ :controller       => "people",
                                        :action           => "newp",
                                        :parentName       => name,
                                        :newElem          => newId,
                                        :hideElem         => menuId })
    link_to "lägg till person", ap_options, { :remote => true }
%>
</li>
<% end %>

<li>
<%=
  ch_options = { :controller => modifier.controller,
  	             :action     => "edit",
		             :id         => modifier.id }
  ch_options[:refernceId] = modifier.get_extra(:reference).id if !modifier.get_extra(:reference).nil?
  ch_options[:topName] = options[:topName]
  link_to "ändra", ch_options, { :remote => true }
%>
</li>

<li>
<%=
  rt_options =
    {
		  :controller => 'references',
		  :action     => "connection_choose",
		  :name       => name
    }	
  rt_options[:referenceId] = modifier.get_extra(:reference).id if !modifier.get_extra(:reference).nil?
  rt_options[:showFull] = options[:showFull] if !options[:showFull].nil?
  link_to "referera till", rt_options, { :remote => true }
%>
</li>

<% if options[:showMergeWith] %>
<li>
<%=
  sm_options =
    {
		  :controller => modifier.controller,
		  :action     => "selmerge",
                  :id         => modifier.id,
		  :name       => name
    }
  sm_options[:referenceId] = modifier.get_extra(:reference).id if !modifier.get_extra(:reference).nil?
  sm_options[:showFull] = options[:showFull] if !options[:showFull].nil?
  link_to "slå ihop med", sm_options, { :remote => true }
%>
</li>
<% end %>

<% if options[:showTagMedium] %>
<li>
<%=
    showNewId = true
    ap_options = common_options.merge({ :controller       => modifier.controller,
                                        :action           => "tag",
                                        :id               => modifier.id,
                                        :parentName       => name,
                                        :newElem          => newId,
                                        :hideElem         => menuId })
    link_to "tagga", ap_options, { :remote => true }
%>
</li>
<% end %>

<% if not modifier.get_extra(:reference).nil? %>
<li>
<%=
    rr_options = 
      {
		    :controller          => 'references',
		    :action              => "delete",
		    :referencedId        => name,
		    :id                  => modifier.get_extra(:reference).id
      }
    rr_options[:topName] = options[:topName]
    link_to "ta bort referens", rr_options, { :remote => true }
%>
</li>
<% end %>

<li>
<%=
  de_options = {
  		:controller          => modifier.controller,
		  :action              => "delete",
		  :id                  => modifier.id
  }
  de_options[:topName] = options[:topName]

  link_to "radera", de_options, { :remote => true }
%>

            </li>
	</ul>

<% if defined? showNewId %>
	<span id="<%= newId %>"></span>
<% end %>

