<%=
  name = modifier.object_name
  menuId = name + "_menu"
  newId = name + "_new"

  common_options = {}
  common_options[:topName] = options[:topName]
  common_options[:topName] ||= "Undefined in modifier for #{name}"
  common_options[:parentReferenceId] = modifier.get_extra(:referenceId) if not modifier.get_extra(:referenceId).nil?
  common_options[:grandParentId] = options[:parent].object_name if not options[:parent].nil?
 
  link_to ">", "#", :class => "toggler", :"data-toggle-id" => menuId
%>

<span id="<%= menuId %>" style="display:none">

<%=
  if options[:showAddEvent]
    showNewId = true
    ae_options = common_options.merge({ :controller       => "events",
                                        :action           => "newp",
                                        :parentId         => name,
                                        :newElem          => newId,
                                        :hideElem         => menuId})
    link_to "lägg till händelse", ae_options, { :remote => true }
  end
%>

<%=
  if options[:showAddNote]
    showNewId = true
    an_options = common_options.merge({ :controller       => "notes",
                                        :action           => "newp",
                                        :parentId         => name,
                                        :newElem          => newId,
                                        :hideElem         => menuId })
    link_to "kommentera", an_options, { :remote => true }
  end
%>

<%=
  if options[:showAddDate]
    showNewId = true
    ad_options = common_options.merge({ :controller       => "event_dates",
                                        :action           => "newp",
                                        :parentId         => name,
                                        :newElem          => newId,
                                        :hideElem         => menuId })
    link_to "lägg till datum", ad_options, { :remote => true }
  end
%>

<%=
  if options[:showAddAddress]
    showNewId = true
    aa_options = common_options.merge({ :controller       => "addresses",
                                        :action           => "newp",
                                        :parentId         => name,
                                        :newElem          => newId,
                                        :hideElem         => menuId })
    link_to "lägg till adress", aa_options, { :remote => true }
  end
%>

<%=
  if options[:showAddRelationship]
    showNewId = true
    ar_options = common_options.merge({ :controller       => "relationships",
                                        :action           => "newp",
                                        :parentId         => name,
                                        :newElem          => newId,
                                        :hideElem         => menuId })
    link_to "lägg till förhållande", ar_options, { :remote => true }
  end
%>

<%=
  if options[:showAddPerson]
    showNewId = true
    ap_options = common_options.merge({ :controller       => "people",
                                        :action           => "newp",
                                        :parentId         => name,
                                        :newElem          => newId,
                                        :hideElem         => menuId })
    link_to "lägg till person", ap_options, { :remote => true }
  end
%>

<%=
  ch_options = { :controller => modifier.controller,
  	             :action     => "edit",
		             :id         => modifier.id }
  ch_options[:referenceId] = modifier.get_extra(:reference).id if !modifier.get_extra(:reference).nil?
  ch_options[:topName] = options[:topName]
  link_to "ändra", ch_options, { :remote => true }
%>

<%=
  rt_options =
    {
		  :controller => 'references',
		  :action     => "connection_choose",
		  :name       => name
    }	
  rt_options[:referenceId] = modifier.get_extra(:reference).id if !modifier.get_extra(:reference).nil?
  rt_options[:showFull] = options[:showFull] if !options[:showFull].nil?
  link_to "referera till", rt_options, { :remote => true }
%>

<%=
  if not modifier.get_extra(:reference).nil?
    rr_options = 
      {
		    :controller          => 'references',
		    :action              => "delete",
		    :referencedId        => name,
		    :id                  => modifier.get_extra(:reference).id,
		    :removeReferenceOnly => true
      }
    rr_options[:topName] = options[:topName]
    if not options[:parent].nil?
      rr_options[:parentId] = options[:parent].object_name
      rr_options[:updateName] = options[:parent].object_name
      rr_options[:parentReferenceId] = options[:parent].get_extra(:referenceId) if not options[:parent].get_extra(:referenceId).nil?
    end
   link_to "ta bort referens", rr_options, { :remote => true }
  end
%>

<%=
  de_options = {
  		:controller          => modifier.controller,
		  :action              => "delete",
		  :id                  => modifier.id
  }
  de_options[:referenceId] = modifier.get_extra(:reference).id if !modifier.get_extra(:reference).nil?
  de_options[:topName] = options[:topName]
  if not options[:parent].nil?
    de_options[:updateName] = options[:parent].object_name
    de_options[:parentId] = options[:parent].object_name
    de_options[:parentReferenceId] = options[:parent].get_extra(:referenceId) if not options[:parent].get_extra(:referenceId).nil?
  end

  link_to "radera", de_options, { :remote => true }
%>

</span>

<% if defined? showNewId %>
	<span id="<%= newId %>"></span>
<% end %>
