<%=
  name = modifier[:object].object_name
  menuId = name + "_menu"
  newId = name + "_new"

  common_options = {}
  common_options[:parentReferenceId] = modifier[:referenceId] if modifier[:referenceId] != nil
  common_options[:grandParentId] = options[:parent][:object].object_name if not options[:parent].nil?
 
  link_to ">", "#", :class => "toggler", :"data-toggle-id" => menuId
%>

<span id="<%= menuId %>" style="display:none">

<%=
  if options[:showAddEvent]
    showNewId = true
    ae_options = common_options.merge({ :controller       => "events",
                                        :action           => "newp",
                                        :parentId         => name,
                                        :newElem          => newId,
                                        :hideElem         => menuId})
    link_to "lägg till händelse", ae_options, { :remote => true }
  end
%>

<%=
  if options[:showAddNote]
    showNewId = true
    an_options = common_options.merge({ :controller       => "notes",
                                        :action           => "newp",
                                        :parentId         => name,
                                        :newElem          => newId,
                                        :hideElem         => menuId })
    link_to "kommentera", an_options, { :remote => true }
  end
%>

<%=
  if options[:showAddDate]
    showNewId = true
    ad_options = common_options.merge({ :controller       => "event_dates",
                                        :action           => "newp",
                                        :parentId         => name,
                                        :newElem          => newId,
                                        :hideElem         => menuId })
    link_to "lägg till datum", ad_options, { :remote => true }
  end
%>

<%=
  if options[:showAddAddress]
    showNewId = true
    aa_options = common_options.merge({ :controller       => "addresses",
                                        :action           => "newp",
                                        :parentId         => name,
                                        :newElem          => newId,
                                        :hideElem         => menuId })
    link_to "lägg till adress", aa_options, { :remote => true }
  end
%>

<%=
  ch_options = { :controller => modifier[:object].controller,
  		 :action     => "edit",
		 :id         => modifier[:object].id }
  ch_options[:referenceId] = modifier[:reference].id if !modifier[:reference].nil?
  link_to "ändra", ch_options, { :remote => true }
%>

<%=
  rt_options =
    {
		  :controller => 'references',
		  :action     => "connection_choose",
		  :id         => name
    }	
  rt_options[:referenceId] = modifier[:reference].id if !modifier[:reference].nil?
  rt_options[:showFull] = options[:showFull] if !options[:showFull].nil?
  link_to "referera till", rt_options, { :remote => true }
%>

<%=
  if not modifier[:reference].nil?
    rr_options = 
      {
		    :controller          => 'references',
		    :action              => "delete",
		    :id                  => name,
		    :referenceId         => modifier[:reference].id,
		    :removeReferenceOnly => true
      }
    if not options[:parent].nil?
      rr_options[:parentId] = options[:parent][:object].object_name
      rr_options[:updateName] = options[:parent][:object].object_name
      rr_options[:parentReferenceId] = options[:parent][:referenceId] if not options[:parent][:referenceId].nil?
    end
   link_to "ta bort referens", rr_options, { :remote => true }
  end
%>

<%=
  de_options = {
  		:controller          => 'references',
		  :action              => "delete",
		  :id                  => name,
		  :removeReferenceOnly => false
  }
  de_options[:referenceId] = modifier[:reference].id if !modifier[:reference].nil?
  if not options[:parent].nil?
    de_options[:updateName] = options[:parent][:object].object_name
    de_options[:parentId] = options[:parent][:object].object_name
    de_options[:parentReferenceId] = options[:parent][:referenceId] if not options[:parent][:referenceId].nil?
  end

  link_to "radera", de_options, { :remote => true }
%>

</span>

<% if defined? showNewId %>
	<span id="<%= newId %>"></span>
<% end %>
