<% if options[:enclosedById] %>
<span id="<%= showp.object_name %>">
<% end %>

<% if options[:showFull] %>
<%=  render :partial => showp.controller + '/showfullp', :object => showp, :locals => { :options => options } %>
<% else %>
<%=  render :partial => showp.controller + '/showlimitedp', :object => showp, :locals => { :options => options } %>
<% end %>

<% if not showp.get_extra(:reference).nil? %>
<%   if not showp.get_extra(:reference).name.nil? %>
<%=    showp.get_extra(:reference).name %>
<%   end %>
<% end %>

<% if options[:showFull] %>

<%=  render :partial => "references/related", :object => showp, :locals => { :options => options } %>

<%= application_make_tabs %>

<% end %>

<% if options[:enclosedById] %>
</span>
<% end %>
