<!DOCTYPE html>
<html>
<head>
<% if current_user %>
  <title><%=h yield(:title) %></title>
<% else %>
  <title>Inte inloggad</title>
<% end %>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tag %>
</head>
<body>

<% if current_user %>

<div id="user-widget">
  Inloggad som <strong><%= current_user.name %></strong>.
  <%= link_to "Logga ut", signout_path, id: "sign_out" %>
</div>

<table>
<tr>
<td>
<b>Överföringar</b>
</td>
<td>
<%= link_to "Lägg till", :controller => "transfers", :action => "new" %>
</td>
</tr>

<tr>
<td>
<b>Personer</b>
</td>
<td>
<%= link_to "Lista alla", :controller => "people", :action => "index" %>
<%= link_to "Lägg till", :controller => "people", :action => "new" %>
<%= link_to "Sök", :controller => "people", :action => "index" %>
</td>
</tr>      

<tr>
<td>
<b>Händelser</b>
</td>
<td>
<%= link_to "Lista alla", :controller => "events", :action => "index" %>
<%= link_to "Lägg till", :controller => "events", :action => "new" %>
<%= link_to "Sök", :controller => "events", :action => "index" %>
</td>
</tr>      

<tr>
<td>
<b>Media</b>
</td>
<td>
<%= link_to "Lista alla", :controller => "media", :action => "index" %>
<%= link_to "Lägg till", :controller => "media", :action => "new" %>
<%= link_to "Sök lokalt", :controller => "media", :action => "search" %>
</td>
</tr>

<tr>
<td>
<b>Adresser</b>
</td>
<td>
<%= link_to "Lista alla", :controller => "addresses", :action => "index" %>
<%= link_to "Lägg till", :controller => "addresses", :action => "new" %>
<%= link_to "Sök", :controller => "addresses", :action => "index" %>
</td>
</tr>      

</table>

<%= yield %>

<% else %>
  Inte inloggad. Gå <%= link_to "hit", :controller => "sessions", :action => "new" %> för att logga in.
<% end %>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

</body>
</html>
